html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #fbfbfe;
}

#title {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 500;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#title h1 {
  padding: 0;
  padding-top: 23%;
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
}

.panel {
  height: 100%;
  width: 100%;
  position: fixed;
}
.panel h1 {
  margin: 0;
  padding: 0;
}

.panel:nth-of-type(2) {
  background-color: white;
  z-index: 2;
}

.panel:nth-of-type(3) {
  background-color: pink;
  z-index: 1;
}
.panel:nth-of-type(3) h1 {
  padding-top: 23%;
  width: 100%;
  text-align: center;
}

.container {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 34%;
}

.container div {
  width: 200px;
  height: 200px;
  float: left;
  background-color: blue;
  margin: 10px;
}

.container div:nth-child(1) {
  background-color: #71d0c8;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 10px 10px 10px #732658;
  -moz-box-shadow: 10px 10px 10px #732658;
}

.container div:nth-child(2) {
  background-color: #732637;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 10px 10px 10px #732658;
  -moz-box-shadow: 10px 10px 10px #732658;
}

.container div:nth-child(3) {
  background-color: #d69485;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 10px 10px 10px #732658;
  -moz-box-shadow: 10px 10px 10px #732658;
}

.container div:nth-child(4) {
  background-color: #eaf5e0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 10px 10px 10px #732658;
  -moz-box-shadow: 10px 10px 10px #732658;
}

#whoa {
  position: fixed;
}
